{% load static %}
{% include 'managerpanel/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обробка замовлення</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <h1>Нове замовлення</h1>
    <form action="{% url 'order_handling' order.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="item" type="submit">Надіслати</button>
        <button class="item"><a href="{% url 'order_details' order.id %}">Скасувати</a></button>
    </form>
</body>
</html>