{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/styles_login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="login_box">
        <h1>Login</h1>
        <form action="{% url 'config_login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form_group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="item" required>
            </div>
            <div class="form_group">
                <label for="password" class="password">Password</label>
                <input type="password" name="password" id="password" class="item" required>
            </div>
            <div style="text-align: center; padding-top: 10px;">
                <input type="submit" class="login_button item" value="Увійти"></input>
            </div>
        </form>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>